
<%= simple_form_for(@art_piece) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs" style="margin-left: 2em;">
    <%= f.input :name %>
    <%= f.input :rentprice %>
    <%= f.input :artist %>
    <%= f.input :length %>
    <%= f.input :width %>
    <%= f.input :surface %>
    <%= f.input :built_in %>
    <label style="font-weight: bold;">Maak gebruik van een image url</label>
    <%= f.input :image_url %>
    <%= f.input :belongs_to, input_html: {id: 'user_id', value: current_user.id } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
