<p id="notice"><%= notice %></p>

<h1>Art pieces</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Artist</th>
      <th>Length</th>
      <th>Width</th>
      <th>Surface</th>
      <th>Made in</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @art_pieces.each do |art_piece| %>
      <tr>
        <td><%= art_piece.name %></td>
        <td><%= art_piece.rentprice %></td>
        <td><%= art_piece.artist %></td>
        <td><%= art_piece.length %></td>
        <td><%= art_piece.width %></td>
        <td><%= art_piece.surface %></td>
        <td><%= art_piece.built_in %></td>
        <td><%= link_to 'Show', art_piece %></td>
        <td><%= link_to 'Edit', edit_art_piece_path(art_piece) %></td>
        <td><%= link_to 'Destroy', art_piece, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New art piece', new_art_piece_path %>
