<p id="notice"><%= notice %></p>

<%= render "dashboard/navbar" %>

<div class="container art-show">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="card-title mb-4">
            <div class="d-flex justify-content-start">
              <div class="image-container">
                <%= image_tag("#{@art_piece.image_url}", style: "width: 150px; height: 150px;",
                 alt: "#{@art_piece.name}", class: "img-thumbnail", id: "imgProfile") %>
              </div>
              <div class="userData ml-3">
                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold">
                    <%= @art_piece.name %>
                </h2>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Basic Info</a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-yc btn-xs" style="color: white; width: 8em; background-color: #84a0bd;" data-toggle="modal" role="button" data-target="#rentArtPiece">
                    Huren
                  </a>
                </li>
              </ul>

              <div class="modal fade" id="rentArtPiece" tabindex="-1" role="dialog" aria-labelledby="raiseModalModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="raiseModalModalLabel">Kunstwerk huren</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <%= simple_form_for(@art_piece) do |f| %>
                        <%= f.error_notification %>
                        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

                        <div class="form-inputs">
                          <%= content_tag(:p, "Huur #{@art_piece.name} voor #{@art_piece.rentprice} BTC." , class: "card-text")  %>
                          <%= f.label :body, label: "Huidige wallet waarde #{current_user.customer_wallet.wallet_value}" %>
                        </div>
                        <div class="form-actions modal-footer">
                          <button type="button" class="btn btn-yc" data-dismiss="modal">Sluiten</button>
                          <% if @art_piece.user_id? %>
                            <%= content_tag(:p, "#{@art_piece.name} is gehuurd door #{ find_user_name(@art_piece.user_id)}." , class: "card-text") %>
                          <% else %>
                            <%= link_to 'Huren', rent_art_piece_art_piece_path, method: 'put',  class:"btn btn-yc btn-xs", style: "color:white" %>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-content ml-1" id="myTabContent">
                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                  <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                      <label style="font-weight:bold;">Kunstnaam</label>
                    </div>
                    <div class="col-md-8 col-6">
                      <%= @art_piece.name %>
                    </div>
                  </div>
                  <hr/>

                  <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                      <label style="font-weight:bold;">Gemaakt in</label>
                    </div>
                    <div class="col-md-8 col-6">
                      <%= @art_piece.built_in %>
                    </div>
                  </div>
                  <hr/>

                  <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                      <label style="font-weight:bold;">Afmetingen</label>
                    </div>
                      <%= content_tag(:div, "#{@art_piece.length}cm X #{@art_piece.width}cm X #{@art_piece.surface}cm" , class: "col-md-8 col-6")  %>
                  </div>
                  <hr/>
                  <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                      <label style="font-weight:bold;">Gemaakt door</label>
                    </div>
                    <div class="col-md-8 col-6">
                      <%= @art_piece.artist %>
                    </div>
                  </div>
                  <hr/>
                  <hr/>
                </div>
                <% if !current_user %>
                  <%= link_to 'Edit', edit_art_piece_path(@art_piece) %> |
                <% end %>
                <%= link_to 'Back', art_pieces_path %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= render 'users/footer' %>
