<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @art_piece.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @art_piece.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @art_piece.email %>
</p>

<%= link_to 'Edit', edit_art_piece_path(@art_piece) %> |
<%= link_to 'Back', art_pieces_path %>
