<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <%= image_tag 'youngcapital.png', alt: 'YoungCapital Gallery', align: 'left', style: 'height: 100px;' %>
  <a class="navbar-brand" style="margin-left: 10px;" href="#">YC Gallery</a>
    <div class="container">
      <% if current_user %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item <%= 'active' if @page_tab == "home" %>">
            <%= link_to 'Home', root_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= 'active' if @page_tab == "catalogus" %>">
            <%= link_to 'Catalogus', art_pieces_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= 'active' if @page_tab == "user" %>">
            <%= link_to 'Mijn Account',"/users/#{current_user.id}", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log Out", logout_path, class: "nav-link" %>
          </li>
      </div>
        <% end %>
    </div>
  </nav>
