
<!DOCTYPE html>
<html>
  <head>
    <title>YoungCapital Artgallery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= render 'login' %>
  <%= render 'navbar' %>

<% if current_user %>
  <body class='<%= controller.controller_name %>'>
    <%= render 'art_pieces/carousel' %>
  </body>
  <% end %>
</html>
