
<!DOCTYPE html>
<html>
  <head>
    <title>YoungCapital Artgallery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= render 'login' %>

<% if current_user %>
  <body class='<%= controller.controller_name %>'>
    <%= render 'navbar' %>
    <div id="banner">
      <span class="title"> <%= @page_title %> </span>
    </div>
    <div id="columns">
        <div id="cart">
          <% if @wallet %>
            <%= hidden_div_if(@wallet.line_items.empty?, id: 'wallet') do %>
            <%= render @wallet %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div id="main">
        <%= yield %>
      </div>
  </body>
  <% else %>
    <p>Please login</p>
  <% end %>
</html>
