
<!DOCTYPE html>
<html>
  <head>
    <title>YoungCapital Artgallery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% tab("home") %>

  <% if current_user %>
  <%= render 'navbar' %>
  <body class='<%= controller.controller_name %>'>
    <div class="container">

        <div class="row">
          <div class="col-lg-3">
            <h1 class="my-4 shop-color">YoungGallery</h1>
            <div class="list-group">
              <a href="#" class="list-group-item">Beeldende kunst</a>
              <a href="#" class="list-group-item">Schilderkunst en tekenkunst</a>
              <a href="#" class="list-group-item">Fotografie</a>
            </div>
          </div>
          <!-- /.col-lg-3 -->

        <%= render 'carousel' %>
          <!-- /.col-lg-9 -->

        </div>
        <!-- /.row -->

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Coinname</th>
            <th scope="col">Bitcoin in Euros/Euros in Bitcoin </th>
            <th scope="col">Symbol</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @bitcoin["CoinName"] %></td>
            <td><%= @btc_to_eu["BTC"]["EUR"] %></td>
            <td><%= @bitcoin["Symbol"] %></td>
          </tr>
          <tr>
            <td>EU</td>
            <td><%= @eu_to_btc["EUR"]["BTC"] %></td>
            <td>€</td>
          </tr>
        </tbody>
      </table>
      </div>
  </body>
</html>
<%= render 'users/footer' %>
<% else %>
  <%= content_tag(:h5, "Please login first")  %>
  <%= render 'users/footer' %>
<% end %>
