<p id=”alert”><%= alert %></p>

<%= render 'dashboard/navbar' %>
<h1 class="h3 mb-3 font-weight-normal label-tag">Login voor de YoungCapital gallerij</h1>
<%= form_tag sessions_path do |form| %>
  <div class=”field”>
    <%= label_tag :email %>
    <%= text_field_tag :email, "", class: "form-control" %>
  </div>
  <div class=”field”>
    <%= label_tag :password %>
    <%= password_field_tag :password, "", class: "form-control" %>
  </div>
  <div class=”actions”>
    <%= submit_tag 'Login' %>
    <%= link_to "Sign Up", signup_path %> 
  </div>
<% end %>
