<p id="notice"><%= notice %></p>

<h1>Art pieces</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Artist</th>
      <th>Length</th>
      <th>Width</th>
      <th>Surface</th>
      <th>Made in</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.rentprice %></td>
        <td><%= employee.artist %></td>
        <td><%= employee.length %></td>
        <td><%= employee.width %></td>
        <td><%= employee.surface %></td>
        <td><%= employee.built_in %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New art piece', new_employee_path %>
